@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Roboto Slab;
}

a {
    color: #000;
}

a:hover {
    color: #906;
}

a:before {
    font-size: 30px;
    font-family: "Open Moji";
    display: inline-block;
    text-decoration: none;
    content: "🔗 ";
}

.example {
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', monospace;
    font-size: 30px;
    font-weight: 500;

    background-color: #000;
    color: #fff !important;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-style: solid;
    border-radius: 15px;
    border-color: #000;

    /*
     * Rainbow just for fun:
    box-shadow: -3px 3px   #7e57c2,
                -6px 6px   #2196f3,
                -9px 9px   #26c6da,
                -12px 12px #43a047,
                -15px 15px #eeff41,
                -18px 18px #f9a825,
                -21px 21px #ff5722,
                -24px 24px 30px #000;
    */
}

.example:before {
    background-image: url('images/lemur_icon.png');
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position: top;

    display: flex;
    align-items: center;
    justify-content: left;

    width: 100px;
    height: 75px;
    content: "";
}

.line-block {
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', monospace;
	font-size: 30px;
}

ul {
	font-family: Roboto Slab;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;

    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
    list-style-type: circle;
}

.math-block {
	font-size: 35px;
}

ol {
	font-family: Roboto Slab;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;

    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
    min-width: 25vw;
}

h1, h2, h3 {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: fit-content;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

    background-color: #000;
    color: #fff;

	font-family: Roboto Slab;
	font-size: 57px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;

    border-style: solid;
    border-radius: 15px;
    border-color: #000;
}

strong {
    font-weight: 700;
}

h2 {
	font-size: 40px;
}

img {
    display: block;
    margin: auto;
}

.borderless-img {
    border-style: none;
}

p {
	font-family: Roboto Slab;
	font-size: 38px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 50px;

    display: block;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: fit-content;
}

blockquote {
	font-family: Roboto Slab;
	font-size: 38px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 30px;
}

.big-emoji {
    font-size: 1200%;
}

.small-link {
    font-size: 60%;
}

pre {
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', monospace;
	font-size: 35px;
	font-style:normal;
	font-weight: 300;
	line-height: 40px;
}

/* special roles */

.slide-number {
	font-family: Roboto Slab;
	font-size: 100px;
	font-weight: 500;
    opacity: 0.20;
}

.title-logo {
	font-size: 100px;
	font-weight: 700;
    display: block;
    text-align: center;
}

.donald {
    font-variant: small-caps;
	font-weight: 700;
    font-size: 40px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 5px;

    border-width: 12px;
    border-style: solid;
    border-color: white;
}

.white-bg {
    background-color: white;
    color: #124255;
	font-size: 40px;
	font-weight: 700;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;

    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
}

.strike {
  text-decoration: line-through;
}

.workflow {
    position: fixed;
    bottom: -15vh;
    right: 0vw;
}

.wollmilchsau {
    position: fixed;
    bottom: 5vh;
    right: -12vw;
}

.img-tux {
    position: fixed;
    bottom: 10vh;
    right: -12vw;
}

.img-gopher {
    position: fixed;
    top: 10vh;
    left: -12vw;
}

.small-list > ul {
    font-size: 40px;
}

.help {
    font-size: 12px;
}

.small {
    font-size: 32px;
    font-style: italic;
}

.underline {
    text-decoration: underline;
    font-style: italic;
}

.chapter {
    text-align: center;
    text-decoration: underline;
    font-size: 80px;
    font-weight: 700;
}


table, th, td {
    font-size: 10px !important;
    border: 1px solid;
}

th, td {
    padding-right: 5px;
    padding-left: 5px;
}

@keyframes fadeOut {
    0% { opacity: 1;}
    80% { opacity: 1; }
    100% { opacity: 0; }
}

#impress-help {
    background-color: black !important;
    width: 400px;
	font-family: Roboto Slab;
    font-weight: 400;

    /* Let the help fade after for some time */
    display: block !important; /* some js sets this to none, we need !important therefore */
    animation: fadeOut 10s;
    animation-fill-mode: forwards;
}

#impress-help>table, #impress-help>table>tbody>tr>td {
    font-size: 14px !important;
    border: 0px;
}

#impress-help>table {
    width: 100%;
}

#impress-help>table>tbody>tr>:nth-child(odd) {
    text-align: left !important;
    font-weight: 600;
    background-color: black !important;
}

#impress-help>table>tbody>tr>:nth-child(even) {
    text-align: right !important;
    background-color: black !important;
}

.big-text {
    font-size: 90px;
}

.small-text {
    font-size: 12px;
}

.next-link {
    font-size: 30px;
}

.quote:before {
    content: "»";
}

.quote:after {
    content: "«";
}

.quote {
    font-family: 'JetBrainsMono Nerd Font', 'JetBrains Mono', monospace;
    max-width: 100%;
    font-size: 30px;
    line-height: 30pt;
}

tt, th > p, td > p {
    font-size: 33px !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.knuth {
    position: absolute;
    bottom: -40%;
    right: 31%;
}
