[Unit]
Description=Morse secret service

[Service]
ExecStart=/usr/bin/morse "KOMBI 1239"
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
